
.login-page {
    width: 660px;
    padding: 0 0 0;
    margin: auto;
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 660px;
    margin: 0 auto 10px;
    padding: 15px 45px 45px 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
  }
  .form button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }
  body {
    background: #ffffff; 
  }
  img{
    height: 15%;
    width: 15%;
    margin: 0 0 0 280px;
  }
  footer {
    background-color: #333;
    color: #fff; 
    position: fixed;
    bottom: 0;
    width: 100%; 
  }
  
  .contenedor-pie-pagina {
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-color: #4CAF50;
  }
  .form select {
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 12px;
  }

  .form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  